/*
fonts : 
    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Rosario', sans-serif;
*/
@import "./_variable.scss", "./_nav.scss", "./_link.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    &:before {
        content: "";
        width: 100%;
        height: 90%;
        background-color: $bg2;
        position: fixed;
        top: 100%;
        left: -10px;
        z-index: -1;
        transform-origin: 50% 0;
        transform: rotate(45deg);
    }

    img {
        width: 40%;
        max-width: 400px;
        height: auto;
        position: fixed;
        right: 0;
        bottom: 0;
    }
}



.tab {
    width: 90%;
    max-width: 860px;
    background: white;
    border-radius: 8px;
    margin: auto;
    color: black;
    padding: 1.2rem;
    margin-top: 40px;
    animation: popup 500ms ease-out;

    .heading,
    .step {
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        color: $bg-color;
        font-weight: bold;
    }

    .step {
        margin-top: 10px;
    }

    span {
        font-size: medium;
        font-family: 'Poppins',
            sans-serif;
        margin-bottom: 20px;
    }

    p {
        padding: 10px;
        font-size: 1.08rem;
        max-width: 70ch;
        word-wrap: break-word;
        line-height: 26px;
    }

    ol {
        padding: 4px 1.2rem 5px 1.2rem;
    }

    li {
        margin: 8px;
    }

    a {
        text-decoration: none;
        color: $link-red;
    }
}

h1 {
    width: 100%;
    text-align: center;
    margin: 20px auto 20px auto;
    letter-spacing: 1px;
    font-size: 2.5rem;
    text-decoration: none;
    color: $bg-color;
    opacity: 0;

    a {
        text-decoration: none;
        color: $link-red;
    }
}



@keyframes popup {
    0% {
        transform: translateY(120px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// footer
footer {
    width: 100%;
    position: absolute;
    background: $nav-color;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-top: 50px;
    padding: 10px;

    h2 {
        font-size: 2rem;
    }

    .msg {
        display: flex;
        flex-direction: row;
        width: 85%;
        max-width: 380px;
        justify-content: space-between;
        justify-self: center;
        align-items: center;
        align-self: center;
        margin: 20px auto 30px auto;
        background-color: white;
        box-shadow: inset 0 0 6px #262626;
        padding: 6px;
        border-radius: 24px;


        input {
            background-color: transparent;
            color: #262626;
            width: 70%;
            border: none;
            outline: none;
            font-size: medium;
            font-family: 'Poppins',
                sans-serif;
            padding: 6px;
            padding-right: 15px;

            &:required {
                border: none;
                outline: none;
                box-shadow: none;
            }

            &:invalid {
                box-shadow: none;
            }
        }

        button {
            width: 25%;
            min-width: 60px;
            max-width: 80px;
            display: inline-block;
            padding: 12px 16px;
            border-radius: 20px;
            outline: none;
            border: none;
            background-color: $bg2;
            font-family: 'Poppins',
                sans-serif;
            color: white;
            cursor: pointer;
            margin-left: -30px;

            &:active {
                transform: scale(.95);
            }
        }


    }

    .end-holder {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .copyright,
        .hosted {
            font-size: xx-small;
        }
    }

    img {
        // position: absolute;
        width: 40%;
        max-width: 200px;
        margin-bottom: 6px;
    }

    .social-links {
        display: flex;
        width: 85%;
        max-width: 220px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 6px;
        margin-left: 6px;
        transform: translateY(8px);

        svg {
            width: 35px;
            height: 35px;
            cursor: pointer;
            fill: white;
        }

        svg:hover {
            fill: $bg2;
        }

        svg:active {
            transform: scale(0.95);
        }
    }
}