@import "./link.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 
/*
fonts : 
    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Rosario', sans-serif;
*/
// variables
$bg-color:#2c3e50;
$bg2:#FF4136;
$link-red:#EE352E;

body {

    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-attachment: fixed;


}

.bg {
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    &:before {
        content: "";
        width: 100%;
        height: 90%;
        background-color: $bg2;
        position: fixed;
        top: 100%;
        left: -10px;
        z-index: -1;
        transform-origin: 50% 0;
        transform: rotate(45deg);
    }

    img {
        width: 40%;
        max-width: 400px;
        height: auto;
        position: fixed;
        right: 0;
        bottom: 0;
    }
}

h1 {
    width: 100%;
    text-align: center;
    margin: 20px auto 20px auto;
    letter-spacing: 1px;
    font-size: 2.5rem;
}

.tab {
    width: 90%;
    max-width: 860px;
    background: white;
    border-radius: 8px;
    margin: auto;
    color: black;
    padding: 28px;
    margin-top: 40px;
    animation: popup 500ms ease-out;

    .heading,
    .step {
        font-family: 'Poppins', sans-serif;
        font-size: x-large;
        color: $bg-color;
        font-weight: bold;
    }

    .step {
        margin-top: 10px;
    }

    span {
        font-size: medium;
        font-family: 'Poppins',
            sans-serif;
        margin-bottom: 20px;
    }

    p {
        padding: 10px;
        font-size: 1.08rem;
        max-width: 70ch;
        word-wrap: break-word;
        line-height: 26px;
    }

    ol {
        padding: 4px 30px 5px 30px;
    }

    li {
        margin: 8px;
    }
}

a {
    text-decoration: none;
    color: $link-red;
}


@keyframes popup {
    0% {
        transform: translateY(120px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}